body {
    background-color: #242424;
    color: #D4D4D4;
}

.background {
    background-color: white;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

table {
    border-collapse: collapse;
    border: 2px #D4D4D4 solid;
    margin: 0px auto 0px auto;
}

th, td {
    width: 100px;
    height: 100px;
    border: 2px #D4D4D4 solid;
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

thead td,
tfoot td {
    height: fit-content;
    padding: 15px;
}

thead td h3 {
    font-size: 17px;
    margin: 0;
}

.pseudo-button {
    border: #D4D4D4 2px solid;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #D4D4D4;
    background-color: transparent;
}

.pseudo-button:visited {
    color: #D4D4D4;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer > span {
    text-align: right;
    font-size: 15px;
}

.cross-bingo {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.cross-bingo.show,
.cross-bingo.free-space {
    display: block;
}

.reroll-button {
    width: fit-content;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
    margin-right: 12.5px;
}

.reroll-button:hover {
    cursor: pointer;
}

.reroll-container {
    margin-top: -1.5px;
    border-top: 2px solid #D4D4D4;
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
}

.reroll-container > div {
    margin-right: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
    padding: 7.5px 10px;
}

.reroll-container > div > a:first-child {
    margin-right: 10px;
}

.easter-egg {
    position: absolute;
    top: 7.5px;
    left: 10px;
    color: red;
}

.hide {
    display: none;
}

.flashbang-cat {
    display: none;
    margin: 0px auto 0px auto;
    height: 100vh;
}

.show {
    display: block;
}

button:hover {
    cursor: pointer;
}